.jumbotron.text-center{style:"margin:30px;border-radius:20px;"}
  .container
    %h1
      ="Find a lawyer!"
    %p
      ="Click the button to upload a CSV file"

    =form_tag lawyers_path,method: :get, multipart: true do
      =file_field_tag :file, class: 'text-center'
      =submit_tag "Import!", class: 'btn btn-primary'
    =render partial: 'import'

